In [1]:
import pandas as pd

In [2]:
#extracting the information from the csv 
datafile1 = "Resources/disney_plus_shows.csv"

In [4]:
#getting the csv transformed into a dataframe
disney_df = pd.read_csv(datafile1)
disney_df.head()

,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime,genre,director,writer,actors,language,country,awards,metascore,imdb_rating,imdb_votes
0,tt0147800,10 Things I Hate About You,"A pretty, popular teenager can't go out on a d...",movie,PG-13,1999,31 Mar 1999,"November 12, 2019",97 min,"Comedy, Drama, Romance",Gil Junger,"Karen McCullah, Kirsten Smith","Heath Ledger, Julia Stiles, Joseph Gordon-Levi...","English, French",USA,2 wins & 13 nominations.,70.0,7.3,"283,945"
1,tt7019028,101 Dalmatian Street,This series follows the lives of Delilah and D...,series,NaN,2018–,25 Mar 2019,"February 28, 2020",NaN,"Animation, Comedy, Family",NaN,NaN,"Josh Brener, Michaela Dietz, Bert Davis, Abiga...",English,"UK, USA, Canada",NaN,NaN,6.2,124
2,tt0115433,101 Dalmatians,An evil high-fashion designer plots to steal D...,movie,G,1996,27 Nov 1996,"November 12, 2019",103 min,"Adventure, Comedy, Crime, Family",Stephen Herek,"Dodie Smith (novel), John Hughes (screenplay)","Glenn Close, Jeff Daniels, Joely Richardson, J...","English, Spanish","USA, UK",Nominated for 1 Golden Globe. Another 3 wins &...,49.0,5.7,"97,785"
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,"Being one of 101 takes its toll on Patch, who ...",movie,G,2002,21 Jan 2003,"November 12, 2019",74 min,"Animation, Adventure, Comedy, Family, Musical","Jim Kammerud, Brian Smith","Jim Kammerud (story), Dan Root (story), Garret...","Barry Bostwick, Jason Alexander, Martin Short,...",English,USA,5 wins & 10 nominations.,NaN,5.8,"7,434"
4,tt0211181,102 Dalmatians,Cruella DeVil gets out of prison and goes afte...,movie,G,2000,22 Nov 2000,"November 12, 2019",100 min,"Adventure, Comedy, Family",Kevin Lima,"Dodie Smith (novel), Kristen Buckley (story), ...","Glenn Close, Gérard Depardieu, Ioan Gruffudd, ...",English,"USA, UK",Nominated for 1 Oscar. Another 1 win & 7 nomin...,35.0,4.9,"33,444"

In [41]:
disney_cleaned = disney_df[["title","director","country","year","genre","imdb_rating"]]
disney_cleaned = disney_cleaned.rename(columns={"imdb_rating":"rating"})
disney_cleaned

,title,director,country,year,genre,rating
0,10 Things I Hate About You,Gil Junger,USA,1999,"Comedy, Drama, Romance",7.3
1,101 Dalmatian Street,NaN,"UK, USA, Canada",2018–,"Animation, Comedy, Family",6.2
2,101 Dalmatians,Stephen Herek,"USA, UK",1996,"Adventure, Comedy, Crime, Family",5.7
3,101 Dalmatians 2: Patch's London Adventure,"Jim Kammerud, Brian Smith",USA,2002,"Animation, Adventure, Comedy, Family, Musical",5.8
4,102 Dalmatians,Kevin Lima,"USA, UK",2000,"Adventure, Comedy, Family",4.9
...,...,...,...,...,...,...
987,Zapped,Peter DeLuise,"Canada, USA",2014,"Comedy, Family, Fantasy",5.1
988,Zenon: Girl of the 21st Century,Kenneth Johnson,USA,1999,"Adventure, Comedy, Family, Sci-Fi",6.4
989,Zenon: The Zequel,Manny Coto,"USA, New Zealand",2001,"Comedy, Family, Adventure, Sci-Fi",5.9
990,Zenon: Z3,Steve Rash,USA,2004,"Adventure, Comedy, Family, Sci-Fi",5.5
991,Zootopia,"Byron Howard, Rich Moore, Jared Bush(co-director)",USA,2016,"Animation, Adventure, Comedy, Crime, Family, M...",8.0

In [5]:
datafile2 = "Resources/IMDb.csv"

In [16]:
imdb_df= pd.read_csv(datafile2)
imdb_df

c:\users\gacov\documents\bootcamp\bootcamp\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [42]:
imdb_cleaned = imdb_df[["title","director","country","year","genre","avg_vote"]]
imdb_cleaned = imdb_cleaned.rename(columns={"avg_vote":"rating"})
imdb_cleaned

,title,director,country,year,genre,rating
0,Miss Jerry,Alexander Black,USA,1894,Romance,5.9
1,The Story of the Kelly Gang,Charles Tait,Australia,1906,"Biography, Crime, Drama",6.1
2,Den sorte drøm,Urban Gad,"Germany, Denmark",1911,Drama,5.8
3,Cleopatra,Charles L. Gaskill,USA,1912,"Drama, History",5.2
4,L'Inferno,"Francesco Bertolini, Adolfo Padovan",Italy,1911,"Adventure, Drama, Fantasy",7.0
...,...,...,...,...,...,...
85850,Le lion,Ludovic Colbeau-Justin,"France, Belgium",2020,Comedy,5.3
85851,De Beentjes van Sint-Hildegard,Johan Nijenhuis,Netherlands,2020,"Comedy, Drama",7.7
85852,Padmavyuhathile Abhimanyu,Vineesh Aaradya,India,2019,Drama,7.9
85853,Sokagin Çocuklari,Ahmet Faik Akinci,Turkey,2019,"Drama, Family",6.4
85854,La vida sense la Sara Amat,Laura Jou,Spain,2019,Drama,6.7

In [19]:
datafile3 = "Resources/Platforms.csv"

In [20]:
platforms_df= pd.read_csv(datafile3)
platforms_df

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16739,16739,16740,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,0,0,0,1,0,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,16740,16741,The Poof Point,2001,7+,4.7,NaN,0,0,0,1,0,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,16741,16742,Sharks of Lost Island,2013,NaN,5.7,NaN,0,0,0,1,0,Neil Gelinas,Documentary,United States,English,NaN
16742,16742,16743,Man Among Cheetahs,2017,NaN,6.6,NaN,0,0,0,1,0,Richard Slater-Jones,Documentary,United States,English,NaN
16743,16743,16744,In Beaver Valley,1950,NaN,NaN,NaN,0,0,0,1,0,James Algar,"Documentary,Short,Family",United States,English,32.0

In [44]:
platforms_cleaned = platforms_df[["Title","Directors","Country","Year","Genres","IMDb"]]
platforms_cleaned=platforms_cleaned.rename(columns={"Title":"title","Directors":"director",
                                                    "Country":"country",
                                                    "Year":"year",
                                                    "Genres":"genre",
                                                    "IMDb":"rating"})
platforms_cleaned

,title,director,country,year,genre,rating
0,Inception,Christopher Nolan,"United States,United Kingdom",2010,"Action,Adventure,Sci-Fi,Thriller",8.8
1,The Matrix,"Lana Wachowski,Lilly Wachowski",United States,1999,"Action,Sci-Fi",8.7
2,Avengers: Infinity War,"Anthony Russo,Joe Russo",United States,2018,"Action,Adventure,Sci-Fi",8.5
3,Back to the Future,Robert Zemeckis,United States,1985,"Adventure,Comedy,Sci-Fi",8.5
4,"The Good, the Bad and the Ugly",Sergio Leone,"Italy,Spain,West Germany",1966,Western,8.8
...,...,...,...,...,...,...
16739,The Ghosts of Buxley Hall,Bruce Bilson,United States,1980,"Comedy,Family,Fantasy,Horror",6.2
16740,The Poof Point,Neal Israel,United States,2001,"Comedy,Family,Sci-Fi",4.7
16741,Sharks of Lost Island,Neil Gelinas,United States,2013,Documentary,5.7
16742,Man Among Cheetahs,Richard Slater-Jones,United States,2017,Documentary,6.6
16743,In Beaver Valley,James Algar,United States,1950,"Documentary,Short,Family",NaN

In [51]:
consolidated_df = disney_cleaned.append([imdb_cleaned, platforms_cleaned])
consolidated_df

,title,director,country,year,genre,rating
0,10 Things I Hate About You,Gil Junger,USA,1999,"Comedy, Drama, Romance",7.3
1,101 Dalmatian Street,NaN,"UK, USA, Canada",2018–,"Animation, Comedy, Family",6.2
2,101 Dalmatians,Stephen Herek,"USA, UK",1996,"Adventure, Comedy, Crime, Family",5.7
3,101 Dalmatians 2: Patch's London Adventure,"Jim Kammerud, Brian Smith",USA,2002,"Animation, Adventure, Comedy, Family, Musical",5.8
4,102 Dalmatians,Kevin Lima,"USA, UK",2000,"Adventure, Comedy, Family",4.9
...,...,...,...,...,...,...
16739,The Ghosts of Buxley Hall,Bruce Bilson,United States,1980,"Comedy,Family,Fantasy,Horror",6.2
16740,The Poof Point,Neal Israel,United States,2001,"Comedy,Family,Sci-Fi",4.7
16741,Sharks of Lost Island,Neil Gelinas,United States,2013,Documentary,5.7
16742,Man Among Cheetahs,Richard Slater-Jones,United States,2017,Documentary,6.6
16743,In Beaver Valley,James Algar,United States,1950,"Documentary,Short,Family",NaN

In [53]:
movie_sn = consolidated_df.loc[:, ["title", "director", "country", "year", "genre","rating"]]
movie_sn = movie_sn.drop_duplicates()
movie_sn

,title,director,country,year,genre,rating
0,10 Things I Hate About You,Gil Junger,USA,1999,"Comedy, Drama, Romance",7.3
1,101 Dalmatian Street,NaN,"UK, USA, Canada",2018–,"Animation, Comedy, Family",6.2
2,101 Dalmatians,Stephen Herek,"USA, UK",1996,"Adventure, Comedy, Crime, Family",5.7
3,101 Dalmatians 2: Patch's London Adventure,"Jim Kammerud, Brian Smith",USA,2002,"Animation, Adventure, Comedy, Family, Musical",5.8
4,102 Dalmatians,Kevin Lima,"USA, UK",2000,"Adventure, Comedy, Family",4.9
...,...,...,...,...,...,...
16739,The Ghosts of Buxley Hall,Bruce Bilson,United States,1980,"Comedy,Family,Fantasy,Horror",6.2
16740,The Poof Point,Neal Israel,United States,2001,"Comedy,Family,Sci-Fi",4.7
16741,Sharks of Lost Island,Neil Gelinas,United States,2013,Documentary,5.7
16742,Man Among Cheetahs,Richard Slater-Jones,United States,2017,Documentary,6.6
16743,In Beaver Valley,James Algar,United States,1950,"Documentary,Short,Family",NaN